{{> header}}
{{> navbar}}
<div class="container">
    <div class="card card-body">
        <h1>About</h1>
        <p>Sample text for you te who we're </p>
        <p>Version 1.0.0</p>
    </div>
</div>
{{> footer}}